<ul class="collapsible">
  <li>
    <div class="collapsible-header green white-text" id="insert"><h5><b>Insertar Evento</b></h5></div>
    <div class="collapsible-body"><%= render "form" %></div>
  </li>
</ul>