<div class="container">
	<div class="row logout" style="display: none!important;">
      	<div class="col s12 m12">
      		<center><h3>Agenda</h3></center>
      		<center><button class="waves-effect waves-light btn green" id="authorize_button" onclick="handleAuthClick()">Iniciar Sesión con Google</button></center>
      	</div>
  	</div>
	<div class="row login" style="display: none!important;">
      	<div class="col s12 m12">
      		<h2 style="float: left">Agenda</h2>
      		<button class="waves-effect waves-light btn red darken-1" id="signout_button" onclick="handleSignoutClick()">Cerrar Sesión</button>
      	</div>
  	</div>
  	<div class="row login" style="display: none!important;">
      	<div class="col s12 m12">
          	<%= render "schedule" %>
      	</div>
  	</div>
</div>