.formText {
	margin-bottom: 5px;
}

.alert {
	margin-top: 5px;
	margin-bottom: 10px; 
	color: #E53935;
}

#authorize_button {
	margin-top: 35vh;
}

#signout_button {
	float: right; 
	margin-top: 50px;
}

#checkbox {
	margin-left: 20px;
}

#startDate, #endDate {
	width: 28%; 
	float: left; 
	margin-right: 2%;
}

.startHour, .endHour {
	width: 18%; 
	float: left;
	margin-right: 2%;
}